body {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 30px auto;
  max-width: 1000px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.title {
  text-transform: uppercase;
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #555;
}

.breed-select {
  display: flex;
  max-width: 450px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

.card-img {
  width: 400px;
  height: auto;
}

.card-body {
  width: 600px;
  padding: 25px;
}

.loader {
  display: block;
  position: relative;
  width: 100px;
  height: 16px;
  margin: 20px 0;
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ccc;
  box-shadow: 32px 0 #ccc;
  left: 0;
  top: 0;
  animation: ballMoveX 2s linear infinite;
}

.loader:after {
  box-shadow: none;
  transform: translateX(64px) scale(1);
  z-index: 2;
  animation: none;
  animation: trfLoader 2s linear infinite;
}

@keyframes trfLoader {
  0%,
  5% {
    transform: translateX(64px) scale(1);
    background: #ccc;
  }
  10% {
    transform: translateX(64px) scale(1);
    background: #ff3d00;
  }
  40% {
    transform: translateX(32px) scale(1.5);
    background: #ff3d00;
  }
  90%,
  95% {
    transform: translateX(0px) scale(1);
    background: #ff3d00;
  }
  100% {
    transform: translateX(0px) scale(1);
    background: #ccc;
  }
}
@keyframes ballMoveX {
  0%,
  10% {
    transform: translateX(0);
  }
  90%,
  100% {
    transform: translateX(32px);
  }
}

.hidden {
  display: none;
}
